.close {
    background-color: green !important;
    -ion-background-color: green !important;
}

.middle {
    background-color: yellow !important;
    -ion-background-color: yellow !important;
}

.far {
    background-color: red !important;
    -ion-background-color: red !important;
}